# ##############################################################################

# iCEcube PCF

# Version:            2014.04.25810

# File Generated:     May 29 2014 15:10:48

# Family & Device:    iCE5LP4K

# Package:            SWG36

# ##############################################################################

###IOSet List 4
set_io i_sys_clk F4
set_io io_poola_sensor_scl E2
set_io io_poola_sensor_sda C1
set_io o_tx F3

